body {
    font-family: "Roboto", sans-serif;
}

.logotipo {
    max-width: 80px;
}

.navbar-nav a {
    margin-right: 1.5em;
    font-size: 17px;
    font-weight: 500;
}

.nav-link:hover {
    text-decoration: underline;
}

.nav-link.active {
    color:black;
}

.conteudo {
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Define a altura da página como 100% da altura da janela */
    margin: 0;
    background-color: #f8f9fa; /* Cor de fundo leve para destaque */
}
.titulo {
    padding: 3em 0 1em 3em;
    margin: 0 auto;
    justify-content: center;
}

.list-group {
    justify-content: center; /* Centraliza os itens horizontalmente */
    margin-bottom: 10px; /* Espaço entre as listas horizontais */
}

.list-group-item {
    width: 32%;
}