body {
    font-family: "Roboto", sans-serif;
}

.logotipo {
    max-width: 80px;
}

.navbar-nav a {
    margin-right: 1.5em;
    font-size: 17px;
    font-weight: 500;
}

.nav-link:hover {
    text-decoration: underline;
}

.nav-link.active {
    color:black;
}

.titulo {
    padding: 1em 0 1em 1em;
}

.list-group-item {
    width: 33%;
}