body {
    font-family: "Roboto", sans-serif;
}

.logotipo {
    max-width: 80px;
}

.navbar-nav a {
    margin-right: 1.5em;
    font-size: 17px;
    font-weight: 500;
}

.nav-link:hover {
    text-decoration: underline;
}

.nav-link.active {
    color:black;
}

.titulo {
    padding: 3em 0 1em 0;
    width: 500px;
    margin: 0 auto;
    justify-content: center;
}

.list-group {
    width: 550px;
    margin: 0 auto;
    justify-content: center;
}

.list-group-item {
    width: 33.3%;
}